<p-table [resizableColumns]="true"
         [style]="{'margin-top':'30px','overflow':'visible',width :'calc(100%-10px)','white-space': 'normal'}"
         columnResizeMode="expand"

         [value]="data" [columns]="colInfo">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th  *ngFor="let col of colInfo" [pSortableColumn]="col.Field">
        {{col.Caption}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td  *ngFor="let col of colInfo">
       {{row[col.Field]}}
      </td>
    </tr>
  </ng-template>
</p-table>


<!--[rowsPerPageOptions]="rowsPerPageOptions"-->
<!--[paginator]="true"-->
