<div (contextmenu)="$event.preventDefault();
" class="container">
  <div class="row">

    <div class="col-3"></div>
    <div class="col-6" style="position: relative">
      <img [src]="quranPageImage" alt="Please check your internet connection" id="page"
           style="border: 4px solid chocolate">
      <!--        <div-->
      <div *ngFor="let inp of inputs">
        <app-dynamic-aya (onClick)="onAyaClick($event)"
                         (onMotahabehClick)="onMotahabehClick($event)"
                         (onRight)="onRightClick($event)"
                         [activeAya]="inp.activeAya"
                         [arrOfColoredWords]="inp.spansOfColoredWords"
                         [ayaId]="inp.ayaId"
                         [aya]="inp.aya"
                         [ayat]="inp.ayat"
                         [href]="inp.href"
                         [isActive]="inp.isActive"
                         [motashabehatSpans]="inp.motashabehatSpans"
                         [motashabehat]="inp.motashabehat"
                         [spans]="inp.spans"></app-dynamic-aya>
      </div>
      <span [class]="(pageNumber%2 != 0)?'triangle-right':'triangle-left'"></span>

      <!--              </div>-->
      <!-- page -->
    </div>
    <div class="col-3"></div>

  </div>
  <!--  <div class="row">-->

  <!--    <input  class="colorPickerHex form-control" type="text" (change)="onColorChanged($event)" [(ngModel)]="inputBgColor"/>-->

  <!--  </div>-->
</div>
<div class="row">
<div class="col-3" *ngFor="let element of colors" style="float: left">
  <span  style="direction: rtl;float: right">
    <p-colorPicker
      (onChange)="EmitColorChange($event)"
      [(ngModel)]="element.color"
      appendTo="body"
      >
    </p-colorPicker>
    {{element.text}}
  </span>
</div>
</div>
