.logo{
  width: 60px;
  height: 60px;
  padding-right: 10px;
}
#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.result .row-0 {
  background: #F5FFEB;
}

.number {
  font-family: "Traditional Arabic", "Times New Roman";
  font-size: 18px;
  white-space: nowrap;
  color: green;
}

.match  {
  color: blue;
  font-weight: bold;
  font-size: 95%;
}

.searchFrame {
  font-size: 16px;
  border: 4px solid #D4DDCC;
  background: #eaf3e2;
  direction: rtl;
}
