<div>
  <input class="menu-checkbox" id="menu" name="menu" type="checkbox">
  <div class="menu">

    <label class="menu-toggle" for="menu"><span>Toggle</span></label>
    <ul>
      <li>
        <label for="menu-3">عدد المتشابهات</label>
        <input class="menu-checkbox" id="menu-3" name="menu-3" type="checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
          <ul>
            <li (click)="onChange(motshabh)" *ngFor="let motshabh of nOfMotashabeh2">
              <a>{{motshabh.code}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <label for="menu-4">تفسير</label>
        <input class="menu-checkbox" id="menu-4" name="menu-4" type="checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
          <ul>
            <li (click)="OnChangetafseer(row)" *ngFor="let row of tafser">
              <a onclick="return false;"> {{row.name}}</a>
            </li>

          </ul>
        </div>
      </li>
      <li>
        <label for="menu-5">القراء</label>
        <input class="menu-checkbox" id="menu-5" name="menu-5" type="checkbox">
        <div class="menu">
          <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
          <ul>
            <li (click)="OnChangeReader(row)" *ngFor="let row of readers">
              <a onclick="return false;">{{row.name}}</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a (click)="changeMotshabeh()">متشابهات السور</a>
      </li>
      <li>
        <div *ngIf="externalMotsh">
          <p-dropdown [options]="soar" optionLabel="name"></p-dropdown>
        </div>
      </li>
      <li>
        <a (click)="OnSgdClicked()">السجدات</a>
      </li>
    </ul>
  </div>
</div>

<!--
<p-dialog [(visible)]="tafseer" header="تفسير">
  {{tafseerText}}
</p-dialog> -->

<p-sidebar [(visible)]="tafseer" position="buttom">
  {{tafseerText}}
</p-sidebar>
<div class="collapse navbar-collapse" id="navbarSupportedContent">

  <div class="row" style="float: right">
    <div *ngIf="isAudio&&!isRepeat&&!sagdatFlag" class="col">
      <!--      -->
      <audio autoplay controls loop src="{{audio}}"></audio>
    </div>
    <div *ngIf="isAudio&&isRepeat&&!sagdatFlag" class="col">
      <audio audioplayer controls preload=auto src="{{audio}}"></audio>
    </div>
    <div *ngIf="isAudio&&!sagdatFlag" class="col">
      <p-dropdown (onChange)="onClickrepeat($event)" [options]="repeat" optionLabel="name"></p-dropdown>
    </div>
  </div>
  <div *ngFor="let img of imges">
    <app-holy-quran (motahabehClick)="onMotahabehClick($event)"
                    (onClick)="onAyaClicked($event)"
                    (onRight)="onRightAyaClicked($event)"
                    *ngIf="!showListOfAyah && img == selectedPage&&!sagdatFlag "
                    [pageNumber]="selectedPage"
                    [selectedMotashabeh2]="selectedMotashabeh2"></app-holy-quran>

  </div>
  <div  *ngIf="!sagdatFlag" class="row" style="margin-top: 20px">
    <div class="col-5"></div>
    <div class="col-7">
      <button (click)="OnLeftClick()" class="ui-dropdown-trigger-icon" style="align-items: center ;margin-right: 50px">
        Previous
      </button>
      <button (click)="OnRightClick()" class="ui-dropdown-trigger-icon"
              style="align-items: center ; padding-left: 20px;padding-right: 20px">Next
      </button>
    </div>
  </div>
</div>

<app-grid (CloseGrid)="sagdatFlag=false"
          *ngIf="sagdatFlag"
          [data]="sagdas"
          [rowsInPage]="5">

</app-grid>
