<!--<div dir="rtl" style="margin-top: 5px;font-family: Othmani ;font-size: 26px">{{aya}}</div>-->
<a class="aya_link" (mouseenter)="onMouseEnter($event)" (mouseout)="onMouseOut($event)" (click)="aya_clicked($event)" [class.active]="activeAya === 17" [href]="href" [style.left]="'35%'"
  >
  <span class="aya" *ngFor="let s of spans" [style.height]="s.height" [style.left]="s.left" [style.top]="s.top"
        [style.width]="s.width" [style.background]="isActive?bakgroundStyle2.background:bakgroundStyle.background"  [style.opacity]="bakgroundStyle.opacity"></span>

 <span *ngFor="let word of arrOfColoredWords" class="aya" [style.width]="word.width" [style.left]="word.left"   [style.border-bottom]="'3px solid '+word.color" [style.top]="word.top">

 </span>
  </a>

    <span *ngFor="let mot of motashabehatSpans ">
  <a (contextmenu)="onMotashabehRightClick($event,mot)"
     [style.height]="mot.height"
     [style.top]="mot.top"
     [style.left]="mot.isRight?'520px':'-90px'"
     [style.background]="isActive?bakgroundStyle2.background:bakgroundStyle.background"
     [style.opacity]="bakgroundStyle.motashOpacity"
     [style.overflow-y]="'auto'"
      class="motashabeh" dir="rtl" href="#aa"
      style="width: 90px;color: black;">
      {{mot.moade3}}

      </a>

<!--        <a *ngIf="activeAya == 17" href="#aa" dir="rtl" class="motashabeh" style="height: 20px;width: 80px;left: 470px;top: 80px;color: black" [style.background]="bakgroundStyle.background"  [style.opacity]="bakgroundStyle.motashOpacity" >-->
<!--          البقرة (15) البقرة (15)البقرة (15)-->
<!--          البقرة (15)-->
<!--          البقرة (15)-->
<!--          البقرة (15)-->


<!--  </a>-->
  </span>

<!--  <a *ngIf="activeAya == 17" href="#uud" >-->
<!--    <span  class="motashabeh"  style="height: 20px;width: 80px;left: 470px;top: 68px"[style.background]="bakgroundStyle.background"  [style.opacity]="bakgroundStyle.motashOpacity">-->
<!--      النساء(25)-->
<!--    </span>-->
<!--  </a>-->
<!--  <a *ngIf="activeAya == 17">-->
<!--    <span class="motashabeh"  style="height: 30px;width: 80px;left: -50px;top: 45px;color: black">-->
<!--      البقرة(15)-->
<!--    </span>-->
<!--  </a>-->

<!--  <a *ngIf="activeAya == 17">-->
<!--    <span  class="motashabeh"  style="height: 30px;left: -50px;top: 68px">-->
<!--      النساء(25)-->
<!--    </span>-->
<!--  </a>-->

<div #container oncontextmenu="return false;" draggable=false
     class="help-block containerSVG" >
  <p-menu *ngIf="showList"
          [ngStyle]="listMenuStyle"
          [model]="listMenuItems"
  >
  </p-menu>
</div>
<p-dialog  header="" [(visible)]="OpenDialoge">
  <div style="width: 700px ; height: 500px">
  <div *ngFor="let aya of ayat">
    <div>
    <div style="margin-top:10px;padding-bottom: 10px; float: right" >
      {{aya}}
    </div>
      <svg *ngIf="aya!=''" height="10" width="700">
        <line x1="0" y1="0" x2="700" y2="0" style="stroke:rgb(0,0,0);stroke-width:2"></line>
      </svg>
    </div>
  </div>
<!--    <div style="margin-top:10px;padding-bottom: 10px;border-bottom: 1px solid black ; float: right" >-->
<!--      {{aya}}-->
<!--    </div>-->
  </div>
</p-dialog>
